

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from templates.scriptsbundle.com/newsforest/demos/index8.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Dec 2017 07:31:02 GMT -->
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ScriptsBundle">
    <title> NewsForest -  Magazine / Blog HTML Template </title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Core Bootstrap File -->
    <link href="~/css/bootstrap-normal-container.min.css" rel="stylesheet" type="text/css">
    <!-- ANIMATE CSS -->
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css">
    <!-- ZERO GRID CSS -->
    <link href="~/css/zerogrid.css" rel="stylesheet" type="text/css">
    <!-- Mega Menu -->
    <link rel="stylesheet" href="~/css/megaMenu.css">
    <!-- Font Awesome Icons -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/themify-icons.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Owl Slider Css -->
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/css/owl.theme.default.css" rel="stylesheet" type="text/css">
    <!-- Template Core Css -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/breakingNews.css" rel="stylesheet" type="text/css">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Theme Color -->
    <link rel="stylesheet" id="color" href="~/css/colors/defualt.css">
    <!-- For Style Switcher -->
    <link rel="stylesheet" id="theme-color" type="text/css" href="#" />
</head>
<!-- Body -->
<body>
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>

    <section class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                    <div class="col-md-6 col-sm-3 col-xs-12">
                        <ul class="social-media-icons-top">
                            <li><a href="#"><i class="ti-facebook"></i> </a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-youtube"></i></a></li>
                            <li><a href="#"><i class="ti-vimeo"></i></a></li>
                            <li><a href="#"><i class="ti-themify-favicon"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-9 col-xs-12">
                        <ul class="">
                            <li> <i class="ti-calendar"></i> Saturday 28 January, 2017</li>
                            <li><a href="#"><i class="ti-stats-up"></i> Advertize</a></li>
                            <li><a href="#"><i class="ti-share"></i> Follow</a></li>
                            <li><a href="#"> <i class="ti-user"></i> login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="menu-container-section">
        <nav id="menu-2" class="megaMenu" data-color="">
            <div class="nav-container">
                <div class="sticky-container">
                    <ul class="menu-mobile-trigger">
                        <li><i class="fa fa-bars"></i></li>
                    </ul>
                    <ul class="menu-logo hidden-md">
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <img src="/images/logo-small.png" class="img-responsive" alt="logo">
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-search-bar-mobile">
                        <li>
                            <form action="#">
                                <button type="submit"><i class="fa fa-search"></i></button>
                                <input type="search" name="s" placeholder="Search...">
                            </form>
                        </li>
                    </ul>

                  
                    <ul class="menu-links pull-right">
                        @foreach(var category in (IEnumerable<CategoryViewModel>)ViewBag.Categories) { 
                        <li class="@(ViewBag.ActiveCategory!=null&&category.Id==ViewBag.ActiveCategory.Id?"active":"")">

                            <a asp-action="Index" asp-controller="Home" asp-route-id="@category.Id">
                                <span class="text"> @category.Name</span>
                            </a>
                        </li>
                        }
                        
                    </ul>
                    <ul class="menu-search-bar-desktop">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-search"></i>
                            </a>
                            <div id="open-1" class="drop-down">
                                <form action="#">
                                    <input type="search" name="s" placeholder="Search...">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    


    @RenderBody()

    <footer>
        <div class="footer-top bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-block">
                            <img src="images/logo-footer.png" alt="" class="logo-footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                        <h2>Güncel Gönderiler</h2>
                        <ul class="tabs-posts">
                            <li>
                                <div class="pic"> <a href="standard-post.html"><img alt="" class="img-responsive" src="/images/small-posts/small-1.jpg"></a> </div>
                                <div class="caption"> <a href="standard-post.html">Stern talking-to from your parents</a> </div>
                                <ul class="post-tools">
                                    <li>  Jan 21, 2016 </li>
                                    <li title="Comments"> <a href="#"><i class="ti-thought"></i> 953 </a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="pic"> <a href="standard-post.html"><img alt="" class="img-responsive" src="/images/small-posts/small-2.jpg"></a> </div>
                                <div class="caption"> <a href="standard-post.html">The assault on federally supported </a> </div>
                                <ul class="post-tools">
                                    <li>  Feb 28, 2016 </li>
                                    <li title="Comments"> <a href="#"><i class="ti-thought"></i> 105</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3 col-sm-6 ">
                        <h2>Most Recent Tags</h2>
                        <div class="tag-list"> <a href="#">design</a><a href="#">posts</a>  <a href="#">graphics</a> <a href="#">magazine</a> <a href="#">html5</a> <a href="#">html</a> <a href="#">newspaper</a> <a href="#">template</a> <a href="#">blog</a> <a href="#">html5</a> <a href="#">wordpress</a>  </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                        <h2>Contact Detail</h2>
                        <div class="footer-detail">
                            <ul class="personal-info">
                                <li><i class="fa fa-map-marker"></i> 3rd Floor,Link Arcade BBL, USA.</li>
                                <li><i class="fa fa-envelope"></i> Support@domain.com </li>
                                <li><i class="fa fa-phone"></i> +99 333 1234567 </li>
                            </ul>
                        </div>
                        <div class="social-media-icons">
                            <ul>
                                <li> <a href="#"><i class="ti-facebook"></i></a></li>
                                <li> <a href="#"><i class="ti-twitter"></i></a></li>
                                <li> <a href="#"><i class="ti-instagram"></i></a></li>
                                <li> <a href="#"><i class="ti-linkedin"></i></a></li>
                                <li> <a href="#"><i class="ti-google"></i></a></li>
                                <li> <a href="#"><i class="ti-vimeo"></i></a></li>
                                <li> <a href="#"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-link bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul>
                            <li><a href="#">Privacy Policy </a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <div class="copyright"> <span>&copy; 2017 All rights reserved. NewsForest</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>
    <!-- MOZDERNIZR JS -->
    <script src="~/js/modernizr.js" type="text/javascript"></script>
    <!-- Core Jquery -->
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <!-- Jquery Plugin -->
    <script src="~/js/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Mega Menu Script -->
    <script src="~/js/megaMenu.min.js"></script>
    <!-- Owl Slider -->
    <script src="~/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/js/breakingNews.js" type="text/javascript"></script>
    <script src="~/js/theia-sticky-sidebar.js" type="text/javascript"></script>
    <!-- Gallery Magnify  -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Image Loaded  -->
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <!--Style Switcher -->
    <script src="~/js/color-switcher.js"></script>
    <!-- Template Custom Js -->
    <script src="~/js/custom.js" type="text/javascript"></script>
    <!-- Body End -->
    <script>
        /* ======= Masonry Grid System ======= */
        $('.posts-masonry').imagesLoaded(function () {
            $('.posts-masonry').isotope({
                layoutMode: 'masonry',
                transitionDuration: '0.3s'
            });
        });
    </script>
</body>

<!-- Mirrored from templates.scriptsbundle.com/newsforest/demos/index8.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Dec 2017 07:31:49 GMT -->
</html>